.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form-submit {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.entry-label {
    text-align: right;
}

.entry-input {
    text-align: left;
}